<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  {% if user %}
    <p>You are {{ user.username }}</p>
  {% else %}
    {% endif %}

  	<p>Type your username:</p>
  	<form method="post" action="/">
    	<input type="text" name="username" placeholder="Username"><br>
    	<input type="password" name="password" placeholder="Password"><br>
    	<input type="submit">
  	</form>
  	<form method="get" action="/signup">
  		 <button type="submit">Sign Up</button>
  	</form>
</body>
</html>
